@use "../sass/main.scss"as main;


.list__unity:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.4);
}
/* ============================== Container (TItle,Inputs) ============================== */
.login {
    width: min(80vw, 200px);
    height: clamp(226px, 40vh, 330px);
    /* === */
    background-color: var(--default-container-color);
    /* === */
    @include main.MarginAbsolute($top: 20vh, $right: 0, $left: 0);
    z-index: 2;
    /* === */
    margin: max(5vh, 20px) auto;
    /* === */
    /* === */
    box-sizing: content-box;
    padding: 10%;
    /* === */
    border: 1px solid var(--default-contrast-color);
    border-end-end-radius: 20%;

    .login__title {
        @include main.StyleFont($color:var(--default-color-title), $fontSize:clamp(var(--default-size-title)), $fontWeight: var(--default-weight-title));
        float: right;
        margin: auto 15% 5px;
    }

    .inputs__input {
        width: 90%;
        height: clamp(25px, 7vh, 35px);
        /* === */
        margin: 3% 0;
        padding: 0 25px;
        /* === */
        @include main.BorderRadius($thickness: 0px, $radius:20px);
        /* === */
        background-position-y: 50%;
        background-size: 12%;
        background-repeat: no-repeat;
        background-position-x: 2%;

        &::placeholder {
            @include main.MarginAbsolute($top:35%);
        }

        &:focus {
            outline: none !important;
            border: 1px solid var(--default-contrast-color);
            box-shadow: 0 0 10px var(--default-contrast-color);
        }
    }

    .inputs__inputMatricula {
        background-image: url(/img-icons/user.svg);

    }

    .inputs__inputSenha {
        background-image: url(/img-icons/key-skeleton.svg);
    }

    .inputs__buttons {
        display: flex;
        /* === */
        width: 90%;
        /* === */
        gap: 10px;
        margin-top: 3%;
        padding-left: 15px;



        .buttons__inputButton {
            height: clamp(20px, 4vh, 40px);
            width: 38%;
            /* === */
            background-color: white;
            /* === */
            @include main.BorderRadius($thickness: 0px, $radius:20px);
            @include main.StyleFont($color: var(--default-contrast-color), $fontSize: 80%);
            padding: 2px;

            &:active {
                outline: none !important;
                box-shadow: 0 0 10px var(--default-contrast-color);
            }
        }
    }
}

/* ============================== illustration ============================== */
.illustration {
    width: 90%;
    /* === */
    @include main.MarginAbsolute($right:0, $bottom: 0, $left: 0);
    margin: 0 auto;
}

.illustration__image {
    width: 100%;
    max-height: 60vh;
}

/* ============================== Media ============================== */
@media (max-width: 700px) and (min-height: 700px) {
    .login {
        height: clamp(150px, 40vh, 220px);
    }
}

@media (min-width: 700px) {
    /* marked option in header */
    .list__unity:nth-child(4) {
        background-color: initial;
        @include main.UnderLine($width: 50%);
    }
    .login {
        /* === */
        left: 10%;
        right: initial;
        /* === */
        padding: 70px 70px 40px;
        /* === */
    }
}

@media (min-width: 1000px) {
    .illustration {
        @include main.MarginAbsolute($top:25vh, $right:2%, $bottom: initial, $left: initial);
        /* === */
        width: 50%;
    }

    .illustration__image {
        width: 100%;
        max-height: 50vh;
    }
}