@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* ====== boddy colors ====== */
  --color-body: rgb(167, 167, 167);
  --default-background60-color: #7F4CB0;
  --default-background30-color: #AD66F0;
  --default-contrast-color: hsl(324, 97%, 52%);
  --default-container-color: rgba(29, 29, 29, 0.35);
  --default-options-color: rgba(29, 29, 29, 0.9);
  /* ====== default Font ====== */
  font-family: Poppins;
  /* ====== default Color Font ====== */
  --default1-color-font: #FB0E9C;
  --default2-color-font: #740696;
  /* ====== Default title ====== */
  --default-color-title: #ffffff;
  --default-weight-title: 600;
  --default-size-title: 20px, 150%, 100px;
  /* ====== Default Subtitle ====== */
  --default-color-subTitle: rgb(202, 202, 202);
  --default-weight-subTitle: 20;
  /* ====== Default Text ====== */
  --default-color-text: rgb(216, 216, 216);
  --default-size-text: 15px, 50%, 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  /* ===  */
  display: flex;
  position: fixed;
  /* === */
  width: 100vw;
  height: 100vh;
  /* === */
  background-image: url(../../img-illustration/64053.jpg);
  /* === */
}
body::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

/* ============ Style Background Circle ============ */
/* ==================== Body ==================== */
.body {
  /* === */
  overflow-x: hidden;
  /* === */
  width: 90vw;
  height: 90vh;
  /* === */
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* === */
  border-radius: 15px;
  /* === */
  background-color: var(--default-background60-color);
  /* === */
  scrollbar-color: var(--default-contrast-color) var(--default-background60-color);
  scrollbar-width: thin !important;
}
.body::-webkit-scrollbar {
  width: 12px;
}
.body::-webkit-scrollbar-track {
  background-color: var(--default-background60-color);
}
.body::-webkit-scrollbar-thumb {
  background-color: var(--default-contrast-color);
  border-radius: 20px;
  border: solid 3px var(--default-background60-color);
}

.upBody {
  /* === */
  position: relative;
  /* === */
  width: 100%;
  height: max(50vh, 300px);
  /* === */
  background-image: linear-gradient(var(--default-background60-color), var(--default-background30-color));
  /* === */
  border-radius: 10px;
  /* === */
}

/* ========================== Header ========================== */
.header {
  /* === */
  display: flex;
  /* === */
  height: clamp(40px, 10vh, 65px);
  /* === */
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  padding: 15px 20px 0 5%;
  position: relative;
  /* === */
}
.header:before {
  content: "";
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0px auto;
  height: 1px;
  width: 90%;
  background-color: var(--default-contrast-color);
}
.header:before {
  animation: 2s borderHeader;
}
@keyframes borderHeader {
  from {
    width: 10%;
  }
  to {
    width: 90%;
  }
}

/* ========================== Navegation ========================== */
/* =================== tag-NAV =================== */
.header__options {
  transition: 1s;
  /* === */
  background-color: var(--default-options-color);
  position: absolute;
  top: -15px;
  right: 0;
  bottom: auto;
  left: auto;
  position: absolute;
  z-index: 99;
  /* === */
  height: 93vh;
  width: 0;
  min-width: 0px;
  /* === */
  border-radius: 5px;
}

/* =================== tag-UL =================== */
.options__list {
  /* === */
  position: absolute;
  top: auto;
  right: auto;
  bottom: 10%;
  left: auto;
  /* === */
  width: 100%;
  /* === */
}

/* =================== tag-LI =================== */
.list__unity {
  /* === */
  display: none;
  /* === */
  width: 55%;
  /* === */
  border-radius: 30px;
  border: outset 1px var(--default1-color-font);
  /* === */
  margin: 10px 4vw;
  /* === */
}

/* =================== tag-I icon =================== */
.unity--icon {
  padding: 0px 1px 0px 6px;
  color: var(--default-contrast-color);
  font-size: 20px;
  font-weight: initial;
}

/* =================== tag-A =================== */
.unity__link {
  color: var(--default1-color-font);
}

/* ===== Open or close Menu ===== */
.openMenu {
  transition: 1s;
  width: max(40%, 250px);
  border-left: solid 0.2px var(--default-contrast-color);
  border-bottom: solid 0.2px var(--default-contrast-color);
}

.openOptionsMenu {
  display: block;
}

/* =================== Menu Burguer =================== */
.options__menuBurguer {
  /* === */
  position: absolute;
  top: auto;
  right: 5%;
  bottom: auto;
  left: auto;
  z-index: 999;
  /* === */
  padding: 10px;
  /* === */
  cursor: pointer;
  /* === */
}

.menuBurguer__line {
  /* === */
  transition: 1s;
  /* === */
  width: 40px;
  height: 5px;
  /* === */
  margin: 5px 0;
  /* === */
  background-color: var(--default-contrast-color);
  border-radius: 2px;
  /* === */
}

#menuBurguer__line1 {
  height: 8px;
  width: 50px;
}

/* =================== tranform menu burgue in X =================== */
.options__menuBurguer.active #menuBurguer__line1 {
  /* === */
  width: 40px;
  height: 5px;
  /* === */
  transition: 1s;
  transform: translateY(10px) rotate(45deg);
  /* === */
}

.options__menuBurguer.active #menuBurguer__line2 {
  transition: 1s;
  transform: rotate(135deg);
}

/* ================ Log ================ */
.header__log {
  height: 60%;
  max-height: 50px;
}

.header__image {
  min-height: 30px;
  height: 100%;
}

/* ========================== Media queries ==========================  */
@media (min-width: 700px) {
  /* ===== tag-NAV ===== */
  .header__options {
    /* === */
    position: initial;
    /* === */
    height: 40%;
    min-height: initial;
    width: 40%;
    background-color: initial;
    /* === */
  }

  /* ===== tag-UL ===== */
  .options__list {
    display: flex;
    right: 5%;
    width: auto;
    bottom: inherit;
    margin-top: inherit;
  }

  /* ===== tag-LI ===== */
  .list__unity {
    width: auto;
    display: inherit;
    border-radius: 6px;
    border: inherit;
    margin: 0 15px;
  }

  /* ===== tag-I icon ===== */
  .unity--icon {
    display: none;
  }

  /* ================ Menu Burguer ================ */
  .options__menuBurguer {
    display: none;
  }
}
.list__unity:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.4);
}

/* ============================== Container (TItle,Inputs) ============================== */
.login {
  width: min(80vw, 200px);
  height: clamp(226px, 40vh, 330px);
  /* === */
  background-color: var(--default-container-color);
  /* === */
  position: absolute;
  top: 20vh;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 2;
  /* === */
  margin: max(5vh, 20px) auto;
  /* === */
  /* === */
  box-sizing: content-box;
  padding: 10%;
  /* === */
  border: 1px solid var(--default-contrast-color);
  border-end-end-radius: 20%;
}
.login .login__title {
  color: var(--default-color-title);
  font-size: clamp(var(--default-size-title));
  font-weight: var(--default-weight-title);
  float: right;
  margin: auto 15% 5px;
}
.login .inputs__input {
  width: 90%;
  height: clamp(25px, 7vh, 35px);
  /* === */
  margin: 3% 0;
  padding: 0 25px;
  /* === */
  border-radius: 20px;
  border: solid 0px black;
  /* === */
  background-position-y: 50%;
  background-size: 12%;
  background-repeat: no-repeat;
  background-position-x: 2%;
}
.login .inputs__input::placeholder {
  position: absolute;
  top: 35%;
  right: auto;
  bottom: auto;
  left: auto;
}
.login .inputs__input:focus {
  outline: none !important;
  border: 1px solid var(--default-contrast-color);
  box-shadow: 0 0 10px var(--default-contrast-color);
}
.login .inputs__inputMatricula {
  background-image: url(/img-icons/user.svg);
}
.login .inputs__inputSenha {
  background-image: url(/img-icons/key-skeleton.svg);
}
.login .inputs__buttons {
  display: flex;
  /* === */
  width: 90%;
  /* === */
  gap: 10px;
  margin-top: 3%;
  padding-left: 15px;
}
.login .inputs__buttons .buttons__inputButton {
  height: clamp(20px, 4vh, 40px);
  width: 38%;
  /* === */
  background-color: white;
  /* === */
  border-radius: 20px;
  border: solid 0px black;
  color: var(--default-contrast-color);
  font-size: 80%;
  font-weight: initial;
  padding: 2px;
}
.login .inputs__buttons .buttons__inputButton:active {
  outline: none !important;
  box-shadow: 0 0 10px var(--default-contrast-color);
}

/* ============================== illustration ============================== */
.illustration {
  width: 90%;
  /* === */
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.illustration__image {
  width: 100%;
  max-height: 60vh;
}

/* ============================== Media ============================== */
@media (max-width: 700px) and (min-height: 700px) {
  .login {
    height: clamp(150px, 40vh, 220px);
  }
}
@media (min-width: 700px) {
  /* marked option in header */
  .list__unity:nth-child(4) {
    background-color: initial;
    position: relative;
  }
  .list__unity:nth-child(4):before {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px auto;
    height: 1px;
    width: 50%;
    background-color: var(--default-contrast-color);
  }

  .login {
    /* === */
    left: 10%;
    right: initial;
    /* === */
    padding: 70px 70px 40px;
    /* === */
  }
}
@media (min-width: 1000px) {
  .illustration {
    position: absolute;
    top: 25vh;
    right: 2%;
    bottom: initial;
    left: initial;
    /* === */
    width: 50%;
  }

  .illustration__image {
    width: 100%;
    max-height: 50vh;
  }
}

/*# sourceMappingURL=login.style.css.map */
