@use '../defaultSpecifications.scss' as *;
@use '../mixins/defaultMixins.scss' as mixins;

body {
  /* ===  */

  display: flex;
  position: fixed;

  /* === */

  width: 100vw;
  height: 100vh;

  /* === */
  background-image: url(../../img-illustration/64053.jpg);
  &::before {
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
  }
  /* === */
}

/* ============ Style Background Circle ============ */

/* ==================== Body ==================== */
.body {
  /* === */
  overflow-x: hidden;

  /* === */

  width: 90vw;
  height: 90vh;

  /* === */

  margin: auto;
  @include mixins.MarginAbsolute($top:0, $right:0, $bottom:0, $left:0);

  /* === */
  border-radius: 15px;
  /* === */

  background-color: var(--default-background60-color);
  /* === */
  @include mixins.ScrollBar($width:12px);
}




.upBody {
  /* === */
  position: relative;
  
  /* === */
  
  width: 100%;
  height: max(50vh,300px);
  
  /* === */
  
  background-image: linear-gradient(var(--default-background60-color),
  var(--default-background30-color));
  
  /* === */
  
  border-radius: 10px;
  
  /* === */
}