@use '../mixins/defaultMixins.scss'as mixins;

/* ========================== Header ========================== */
.header {
  /* === */

  display: flex;

  /* === */

  height: clamp(40px, 10vh, 65px);

  /* === */

  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  padding: 15px 20px 0 5%;

  @include mixins.UnderLine($width: 90%);
  &:before {
    animation: 2s borderHeader;
    @keyframes borderHeader {
      from {
        width: 10%;
      }
      to {
        width: 90%;
      }
    }
  }

  /* === */
}

/* ========================== Navegation ========================== */
/* =================== tag-NAV =================== */
.header__options {
  transition: 1s;
  /* === */

  background-color: var(--default-options-color);
  @include mixins.MarginAbsolute($top:-15px, $right: 0);
  position: absolute;
  z-index: 99;

  /* === */

  height: 93vh;

  width: 0;
  min-width: 0px;
  /* === */

  border-radius: 5px;
}

/* =================== tag-UL =================== */
.options__list {
  /* === */
  @include mixins.MarginAbsolute($bottom:10%);
  /* === */
  width: 100%;
  /* === */
}

/* =================== tag-LI =================== */
.list__unity {
  /* === */

  display: none;

  /* === */

  width: 55%;

  /* === */

  @include mixins.BorderRadius($thickness:1px, $colorBorder:var(--default1-color-font), $radius:30px, $type: outset);
  /* === */

  margin: 10px 4vw;
  
  /* === */
}

/* =================== tag-I icon =================== */
.unity--icon {
  padding: 0px 1px 0px 6px;
  @include mixins.StyleFont($color:var(--default-contrast-color), $fontSize:20px);
}

/* =================== tag-A =================== */
.unity__link {
  color: var(--default1-color-font);
}

/* ===== Open or close Menu ===== */
.openMenu {
  transition: 1s;
  width: max(40%, 250px);
  border-left: solid 0.2px var(--default-contrast-color);
  border-bottom: solid 0.2px var(--default-contrast-color);
}

.openOptionsMenu {
  display: block;
}

/* =================== Menu Burguer =================== */
.options__menuBurguer {
  /* === */
  @include mixins.MarginAbsolute($right: 5%);
  z-index: 999;
  /* === */
  padding: 10px;

  /* === */

  cursor: pointer;

  /* === */
}

.menuBurguer__line {
  /* === */

  transition: 1s;

  /* === */

  width: 40px;
  height: 5px;

  /* === */

  margin: 5px 0;

  /* === */

  background-color: var(--default-contrast-color);
  border-radius: 2px;

  /* === */
}

#menuBurguer__line1 {
  height: 8px;
  width: 50px;
}

/* =================== tranform menu burgue in X =================== */
.options__menuBurguer.active #menuBurguer__line1 {
  /* === */

  width: 40px;
  height: 5px;

  /* === */

  transition: 1s;
  transform: translateY(10px) rotate(45deg);

  /* === */
}

.options__menuBurguer.active #menuBurguer__line2 {
  transition: 1s;
  transform: rotate(135deg);
}

/* ================ Log ================ */
.header__log {
  height: 60%;
  max-height: 50px;
}

.header__image {
  min-height: 30px;
  height: 100%;
}

/* ========================== Media queries ==========================  */
@media (min-width: 700px) {

  /* ===== tag-NAV ===== */
  .header__options {
    /* === */

    position: initial;

    /* === */

    height: 40%;
    min-height: initial;

    width: 40%;

    background-color: initial;
    /* === */
  }

  /* ===== tag-UL ===== */
  .options__list {
    display: flex;
    right: 5%;
    width: auto;
    bottom: inherit;
    margin-top: inherit;
  }

  /* ===== tag-LI ===== */
  .list__unity {
    width: auto;
    display: inherit;
    border-radius: 6px;
    border: inherit;
    margin: 0 15px;
  }

  /* ===== tag-I icon ===== */
  .unity--icon {
    display: none;
  }

  /* ================ Menu Burguer ================ */
  .options__menuBurguer {
    display: none;
  }
}